global:
  registry: registry.cn-shanghai.aliyuncs.com
data:
  springcloudoss:
    gateway:
      application:
        name: gateway
        port: 28888
        javaOptions:
      image:
        repo: springcloudoss/gateway
        tag: "1.0"
      resource:
        replicas: 1
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 100m
          memory: 200Mi
    auth:
      application:
        name: auth-server
        port: 8080
        javaOptions:
      image:
        repo: springcloudoss/auth-server
        tag: "1.0"
      resource:
        replicas: 1
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 100m
          memory: 200Mi
    apollo:
      application:
        name: apollo-config-center
        port: 8080
        javaOptions:
      image:
        repo: springcloudoss/apollo
        tag: "1.0"
      resource:
        replicas: 1
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 100m
          memory: 200Mi
    usersvc:
      application:
        name: user-service
        port: 8080
        javaOptions:
      image:
        repo: springcloudoss/user-service
        tag: "1.0"
      resource:
        replicas: 1
        limits:
          cpu: 500m
          memory: 500Mi
        requests:
          cpu: 100m
          memory: 200Mi